<div class="footer-container">
  <div class="text-links">
    <%= link_to "About us", "javascript:void(0)", class: "footer-link row-a" %>
    <%= link_to "Become a creator", "javascript:void(0)", class: "footer-link row-b" %>
    <%= link_to "Contact us", "javascript:void(0)", class: "footer-link row-c" %>
    <%= link_to "Help and support", "javascript:void(0)", class: "footer-link row-d" %>
    <%= link_to "Careers", "javascript:void(0)", class: "footer-link row-e" %>
    <%= link_to "Investors", "javascript:void(0)", class: "footer-link row-f" %>
    <%= link_to "Terms", "javascript:void(0)", class: "footer-link row-g" %>
    <%= link_to "Privacy policy", "javascript:void(0)", class: "footer-link row-h" %>
    <%= link_to "Cookie settings", "javascript:void(0)", class: "footer-link row-i" %>
  </div>
  <div class="copyright-container">
    <p class="copyright-text">© 2024 Insite</p>
  </div>
</div>
