<div class="footer-container-2">
  <div class="text-links">
    <%= link_to "About us", "javascript:void(0)", class: "footer-link-2 row-a" %>
    <%= link_to "Become a creator", "javascript:void(0)", class: "footer-link-2 row-b" %>
    <%= link_to "Contact us", "javascript:void(0)", class: "footer-link-2 row-c" %>
    <%= link_to "Help and support", "javascript:void(0)", class: "footer-link-2 row-d" %>
    <%= link_to "Careers", "javascript:void(0)", class: "footer-link-2 row-e" %>
    <%= link_to "Investors", "javascript:void(0)", class: "footer-link-2 row-f" %>
    <%= link_to "Terms", "javascript:void(0)", class: "footer-link-2 row-g" %>
    <%= link_to "Privacy policy", "javascript:void(0)", class: "footer-link-2 row-h" %>
    <%= link_to "Cookie settings", "javascript:void(0)", class: "footer-link-2 row-i" %>
  </div>
  <div class="copyright-container">
    <p class="copyright-text">© 2024 Niche</p>
  </div>
</div>
