<div id="user-followings-container">
  <div class="followings-container">
    <% if current_user.followings.any? %>
      <% @followings.each do |following| %>
        <div class="following-row">
          <div class="creator-card-container">
            <div class="creator-card">
              <%= link_to user_path(following.creator.user) do %>
                <div class="creator-avatar">
                  <%= image_tag following.creator.user.avatar_image_url %>
                </div>
                <div class="creator-card-info">
                  <div class="creator-username"><%= following.creator.user.username %></div>
                  <div class="creator-specialisation"><%= following.creator.specialisation %></div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="video-card-container-followings">
            <% following.creator.videos.each do |video| %>
              <div class="video-card">
                <%= link_to video_path(video) do %>
                  <div class="video-thumbnail">
                    <%= image_tag video.thumbnail_url %>
                  </div>
                  <div class="video-info">
                    <div class="video-title"><%= video.title %></div>
                    <div class="video-creator"><%= video.creator.user.username %></div>
                    <div class="video-rating"><%= display_average_rating(video.average_rating) %>
                      <div data-controller="rating" data-rating="<%= video.average_rating %>" class="rating">
                        <div class="stars" data-rating-target="rating"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="no-followings-position">
        <h3 class="no-followings-message">You are currently not subscribed to any creators, please checkout our <a href="../pages/discover">discover page</a></h3>
      </div>
    <% end %>
  </div>
</div>
