<% if current_user %>
  <%= render "components/top-navbar-2" %>
<% else %>
  <%= render "components/top-navbar-1" %>
<% end %>

<div class="video-page-container">

  <div class="left-section-video">
    <div class="video-page-top-info">
      <%= link_to user_creator_path(@video.creator) do %>
        <div class="video-page-avatar"><%= image_tag @video.creator.user.avatar.image_url %></div>
      <% end %>
      <%= link_to user_creator_path(@video.creator) do %>
        <div class="video-page-creator-username"><%= @video.creator.user.username %></div>
      <% end %>
      <% if user_signed_in? %>
      <div class="video-page-follow-bookmark">
        <div class="video-page-follow"><%= render "components/following-form" %></div>
        <div class="video-page-bookmark"><%= render "components/bookmark-form" %></div>
      </div>
      <% end %>
    </div>
    <div class="video-player-background"></div>
    <div class="review-purchase-button-container">
      <%= render "components/review-modal" %>
      <button class="video-purchase-button">Add To Cart / Subscribe</button>
    </div>
  </div>

  <div class="middle-vertical-line"></div>

  <div class="right-section-video">
    <div class="video-page-title-container">
      <div class="video-page-title"><%= @video.title %></div>
    </div>
    <div class="video-page-top-info-2">
      <div class="video-page-rating"><%= display_average_rating(@video.average_rating) %>
        <div data-controller="rating" data-rating="<%= @video.average_rating %>" class="rating">
          <div class="stars-white" data-rating-target="rating"></div>
        </div>
      </div>
      <div class="video-page-reviews">Reviews (<%= @video.reviews.count %>)</div>
      <div class="video-page-views">Views (<%= @video.views %>)</div>
    </div>

    <div class="video-page-bottom-info">
      <h3>Description:</h3>
      <div class="video-description"><%= @video.description %></div>
      <h3>What you will learn:</h3>
      <div class="video-learn"><%= @video.learning %></div>
      <h3>This course includes:</h3>
      <div class="video-includes"><%= @video.includes %></div>
      <h3>Requirements:</h3>
      <div class="video-requirements"><%= @video.requirements %></div>
    </div>
  </div>
</div>
