<% if user_signed_in? %>
  <%= render "components/top-navbar-2" %>
<% else %>
  <%= render "components/top-navbar-1" %>
<% end %>

<div class="discover-page-container">
  <h1>Pages#discover</h1>

  <div data-controller="filter-form">
    <%= form_with(url: filter_pages_path, method: "get", id: "filterForm") do |form| %>
      <%= form.label :category, "Category:" %>
      <%= form.select :category, options_for_select([["All", "all"], ["Art & Photography", "art & photography"], ["Business", "business"],
      ["Crafts", "crafts"], ["Fashion", "fashion"], ["Gaming", "gaming"], ["Gardening", "gardening"], ["Health & Fitness", "health & fitness"],
      ["Music", "music"], ["Sports", "sports"], ["Technology", "technology"]], selected: @category), include_blank: true %>

      <div>
        <h3>Sort By:</h3>
        <fieldset>
          <legend>Sort By:</legend>
          <label>
            <%= form.radio_button :sort_by, "views", checked: @sort_by == "views", data: { action: "change->filter-form#toggleSortDirectionField" } %>
            Views
          </label>
          <label>
            <%= form.radio_button :sort_by, "rating", checked: @sort_by == "rating", data: { action: "change->filter-form#toggleSortDirectionField" } %>
            Rating
          </label>
          <label>
            <%= form.radio_button :sort_by, "date", checked: @sort_by == "date", data: { action: "change->filter-form#toggleSortDirectionField" } %>
            Date
          </label>
        </fieldset>
      </div>

      <div id="sortDirectionField" data-filter-form-target="sortDirectionField">
        <h3>Sort Direction:</h3>
        <fieldset>
          <legend>Sort Direction:</legend>
          <label>
            <%= form.select :sort_direction, [["Highest", "desc"], ["Lowest", "asc"]], selected: @sort_direction_selection %>
          </label>
        </fieldset>
      </div>

      <%= form.submit "Apply" %>
    <% end %>
  </div>

  <div class="video-card-container">
    <% if @filter_videos.present? %>
      <% @filter_videos.each do |video| %>
        <div class="video-card">
          <%= link_to video_path(video) do %>
            <div class="video-thumbnail">
              <%= image_tag video.thumbnail_url %>
            </div>
            <div class="video-info">
              <div class="video-title"><%= video.title %></div>
              <div class="video-creator"><%= video.creator.user.username %></div>
              <div class="video-rating"><%= display_average_rating(video.average_rating) %>
                <div data-controller="rating" data-rating="<%= video.average_rating %>" class="rating">
                  <div class="stars" data-rating-target="rating"></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>No videos found.</p>
    <% end %>
  </div>
</div>
