<% if user_signed_in? %>
  <%= render "components/top-navbar-2" %>
<% else %>
  <%= render "components/top-navbar-1" %>
<% end %>

<div class="discover-page-container">
  <h1>Pages#discover</h1>

  <div>
    <%= form_with(url: filter_pages_path, method: "get", id: "filterForm") do |form| %>
      <%= form.label :category, "Category:" %>
      <%= form.select :category, options_for_select([["All", "all"], ["Art & Photography", "art & photography"], ["Business", "business"],
      ["Crafts", "crafts"], ["Fashion", "fashion"], ["Gaming", "gaming"], ["Gardening", "gardening"], ["Health & Fitness", "health & fitness"],
      ["Music", "music"], ["Sports", "sports"], ["Technology", "technology"]]), include_blank: true %>

      <div>
        <h3>Sort By:</h3>
        <fieldset>
          <legend>Views</legend>
          <label>
            <%= form.radio_button :sort_by_views, "asc", checked: true %>
            Highest
          </label>
          <label>
            <%= form.radio_button :sort_by_views, "desc" %>
            Lowest
          </label>
        </fieldset>

        <fieldset>
          <legend>Rating</legend>
          <label>
            <%= form.radio_button :sort_by_rating, "asc", checked: true %>
            Highest
          </label>
          <label>
            <%= form.radio_button :sort_by_rating, "desc" %>
            Lowest
          </label>
        </fieldset>

        <fieldset>
          <legend>Date</legend>
          <label>
            <%= form.radio_button :sort_by_date, "asc", checked: true %>
            Recent
          </label>
          <label>
            <%= form.radio_button :sort_by_date, "desc" %>
            Oldest
          </label>
        </fieldset>
      </div>

      <%= form.submit "Apply" %>
    <% end %>

    <div class="video-card-container">
      <% if @filter_videos.present? %>
        <% @filter_videos.each do |video| %>
          <div class="video-card">
            <%= link_to video_path(video) do %>
              <div class="video-thumbnail">
                <%= image_tag video.thumbnail_url %>
              </div>
              <div class="video-info">
                <div class="video-title"><%= video.title %></div>
                <div class="video-creator"><%= video.creator.user.username %></div>
                <div class="video-rating"><%= display_average_rating(video.average_rating) %>
                  <div data-controller="rating" data-rating="<%= video.average_rating %>" class="rating">
                    <div class="stars" data-rating-target="rating"></div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>No videos found.</p>
      <% end %>
    </div>
  </div>
</div>
