<% if user_signed_in? %>
  <%= render "components/top-navbar-2" %>
<% else %>
  <%= render "components/top-navbar-1" %>
<% end %>

<div class="discover-page">
  <div class="discover-page-container">
    <div class="discover-title-container">
      <h1 class="discover-title">Discover</h1>
    </div>

    <div data-controller="filter-form">
      <%= form_with(url: filter_pages_path, method: "get", id: "filterForm", class: "filter-form-with") do |form| %>
        <div class="filter-label-spacer">
          <%= form.label :category, "Category", class: "filter-form-label" %>
        </div>
        <div class="form-select">
          <%= form.select :category, options_for_select([["All", "all"], ["Art & Photography", "art & photography"], ["Business", "business"],
          ["Crafts", "crafts"], ["Fashion", "fashion"], ["Gaming", "gaming"], ["Gardening", "gardening"], ["Health & Fitness", "health & fitness"],
          ["Music", "music"], ["Sports", "sports"], ["Technology", "technology"]], selected: @category) %>
        </div>

        <div class="filter-form-group">
          <div class="filter-label-spacer">
            <%= form.label :sort_by, "Sort By", class: "filter-form-label" %>
          </div>
          <div class="form-select">
            <%= form.select :sort_by, options_for_select([["Views", "views"], ["Rating", "rating"], ["Date", "date"]], selected: @sort_by), data: { action: "change->filter-form#toggleSortDirectionField" } %>
          </div>
        </div>

        <div id="sortDirectionField" data-filter-form-target="sortDirectionField" class="filter-form-group">
          <div class="filter-label-spacer">
            <%= form.label :sort_direction, "Sort Direction", class: "filter-form-label" %>
          </div>
          <div class="form-select">
            <%= form.select :sort_direction, options_for_select([["Highest", "desc"], ["Lowest", "asc"]], selected: @sort_direction) %>
          </div>
        </div>

        <%= form.submit "Filter", class: "filter-form-button" %>
      <% end %>
    </div>

    <div class="video-card-container-discover">
      <% if @filter_videos.present? %>
        <% @filter_videos.each do |video| %>
          <div class="video-card">
            <%= link_to video_path(video) do %>
              <div class="video-thumbnail">
                <%= image_tag video.thumbnail_url %>
              </div>
              <div class="video-info">
                <div class="video-title"><%= video.title %></div>
                <div class="video-creator"><%= video.creator.user.username %></div>
                <div class="video-rating"><%= display_average_rating(video.average_rating) %>
                  <div data-controller="rating" data-rating="<%= video.average_rating %>" class="rating">
                    <div class="stars" data-rating-target="rating"></div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="filter-no-videos">No videos found. Please try a different filter.</p>
      <% end %>
    </div>

    <div class="pagy-nav">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
