<div class="creator-pledges-container" data-controller="pledge-form" data-pledge-form-follow-value="<%= @following %>">
  <div class="creator-pledge-button-container">
    <button class="creator-pledge-button" data-action="click->pledge-form#formOrMessage">Write Pledge</button>
    <div class="pledge-follow-message" data-pledge-form-target="followMessage">
      <p>You need to follow <%= @creator.user.username %> to write a pledge.</p>
    </div>
    <div class="pledge-form-hide" data-pledge-form-target="form">
      <%= form_with(model: Pledge.new, url: pledges_path, local: true, html: { class: "pledge-form" }) do |form| %>
        <%= form.hidden_field :creator_id, value: @creator.id %>
        <div class="pledge-content-layout">
          <%= form.label :content, "Pledge:", class: "pledge-form-label" %>
          <%= form.text_area :content, class: "pledge-form-control" %>
        </div>
        <%= form.submit "Submit Pledge", class: "submit-pledge-button" %>
      <% end %>
    </div>
  </div>

  <% if @pledges %>
    <div class="pledges-container">
      <% @pledges.each do |pledge| %>
        <div class="creator-pledge">
          <div class="user-pledge-user-info">
            <div class="pledge-username-date">
              <div class="creator-pledge-username"><%= pledge.user.username %></div>
              <div class="creator-pledge-date"><%= pledge.created_at.strftime("%d/%m/%y") %></div>
            </div>
            <div class="pledge-avatar"><%= user_avatar(pledge.user) %></div>
          </div>
          <div class="pledge-votes-info">
            <div class="creator-pledge-votes"><%= pledge.votes.to_i %> Up-Votes</div>
          </div>
          <div class="creator-pledge-content"><%= pledge.content %></div>
        </div>
      <% end %>
    </div>
  <% else %>
  <div class="no-pledges-position">
    <h3 class="no-pledges-message"><%= @creator.user.username %> currently has no pledges.</h3>
  </div>
  <% end %>
</div>
