<%= render "components/top-navbar-2" %>

<div class="subscriptions-page-container">
  <% if current_user.subscriptions.any? %>
    <% @subscriptions.each do |subscription| %>
      <div class="subscription-row">
        <div class="creator-card-container">
          <div class="creator-card">
            <%= link_to user_path(subscription.creator.user) do %>
              <div class="creator-avatar">
                <%= image_tag subscription.creator.user.avatar_image_url %>
              </div>
              <div class="creator-card-info">
                <div class="creator-username"><%= subscription.creator.user.username %></div>
                <div class="creator-specialisation"><%= subscription.creator.specialisation %></div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="video-card-container-subscriptions">
          <% subscription.creator.videos.each do |video| %>
            <div class="video-card">
              <%= link_to video_path(video) do %>
                <div class="video-thumbnail">
                  <%= image_tag video.thumbnail_url %>
                </div>
                <div class="video-info">
                  <div class="video-title"><%= video.title %></div>
                  <div class="video-creator"><%= video.creator.user.username %></div>
                  <div class="video-rating"><%= display_average_rating(video.average_rating) %>
                    <div data-controller="rating" data-rating="<%= video.average_rating %>" class="rating">
                      <div class="stars" data-rating-target="rating"></div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="no-subscriptions-position">
      <h3 class="no-subscriptions-message">You are currently not subscribed to any creators, please checkout our <a href="discover_pages_path">discover page</a></h3>
    </div>
  <% end %>
</div>
